// styles

logColor = #00ff00

defaultFont()
    font-family arial, helvetica
    font-size 14px

logFont()
    font-family courier, monospace
    font-size 14px

html, body
    height 100%

body
    defaultFont()
    color #333
    background-color white
    margin 0

.info
    height 100%
    float left
    width 40%
    box-sizing border-box
    padding 30px

    h1
        margin 0
        padding 0
        font-size 3em

.deploys-box
    display none

.login-box
    display none
    background-color #ddd
    padding 20px
    float left
    box-sizing border-box
    width 100%

    input
        width 100%
        box-sizing border-box
        border 1px solid #ccc
        border-radius 4px
        font-size 14px
        padding 4px 6px
        margin-bottom 5px

    button 
        margin-top 5px
        font-size 14px
        border-radius 4px
        padding 3px 16px
        cursor pointer
        float right

table
    margin-top 30px
    float left
    width 100%
    border-collapse collapse
    th
        text-align left
        font-weight normal
        color #aaa
        border 1px solid #eee
        font-style italic
        padding 5px 20px 5px 5px
        &:first-child
            padding 5px
            width 30px
    td
        padding 5px 20px 5px 5px
        border 1px solid #eee
        &:first-child
            padding 5px

.log-container
    height 100%
    padding 30px
    float left
    width 60%
    box-sizing border-box
    background-color #000
    color logColor

    h2
        margin 0
        padding 0
        opacity .5

